<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
       <tx:attributes>
           <tx:method name="add*" propagation="REQUIRED"/>
           <tx:method name="del*" propagation="REQUIRED"/>
           <tx:method name="update*" propagation="REQUIRED"/>
           <tx:method name="getAllUser*" propagation="REQUIRED"/>
           <tx:method name="validateIdentity*" propagation="REQUIRED"/>
           <tx:method name="*" propagation="REQUIRED" read-only="true"/>
       </tx:attributes>
	</tx:advice>
	
	<aop:config>
       <aop:pointcut expression="execution(* com.ssm.biz.*.*(..))" id="bizMethod"/>
       <aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethod"/>
	</aop:config>

</beans>